*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color:transparent;
}
header{
    position: relative;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 4%;
    background: transparent;
    border: 5px solid rgb(1, 179, 249);
}
.logo{
    font-size: 30px;
    font-weight: 700;
}
.navlist{
    display: flex;
}
.navlist a{
    color: rgb(6, 180, 248);
    margin-left: 60px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px transparent;
    transform: all .55 ease;
}
.navlist a:hover{
    border-bottom: 2px solid red;

}
#menu-icon{
    color: blue;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}
.home{
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 1px;
    padding-bottom: auto;
    margin-bottom: auto;
    padding-top:0%;
}
section{
    padding: 0 5%;
}
.home-text h2{
    color: black;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    padding-left: auto;
}
.home-text p{
    color:black;
    text-align: justify;
    font-size: 22px;
    margin-bottom: 20px;
    background-color: transparent;

}
.home img{
   margin-bottom: 15px;
}
.foot{
background-color: black;
height: 100px;
width: auto;
color: white;
text-align: center;
padding-top: 22px;
}

.about-home{
    display: flex;
    gap: 15px;
    margin-top: 30px;

}
.about-home-text p{
    font-size: 20px;
    padding-top: 5px;
    text-align: justify;
    padding-top: 8px;
    margin-top: 5px;

}
.about-image img{
     margin-top: 20px;
}
.services{
    text-align: justify;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.service-img{
    display: flex;
    width: auto;
    padding-top: 10px;
}
.tete{
    padding-top: 10px;
    display: flex;
}
.why{
    padding-top: 15px;
    font-size: 22px;
    text-align: justify;
    padding-bottom: 15px;
}
.believe{
    text-align: center; 
    padding-top: 15px;
}
.why h2{
    text-align: left;
}
.contact{
    text-align: justify;
    font-size: 20px;
    padding-top: 15px;
}
.prezo{
    display: flex;
    gap: 22px;
    padding-top: 22px;
    padding-bottom: 25px;
}
.presopetit{
    font-size: 21px;
    text-align: justify;

}
.footgallery{
background-color: black;
height: 100px;
width: auto;
color: white;
text-align: center;
padding-top: 150px;
}
.gallery{
    display: flex;
    padding: 33px;
    gap: 5px;
}
